@font-face {
    font-family: "nexonLv1";
    font-weight: 100;
    font-style: normal;
    src: url("../../fonts/nexonLv1-Light.woff2") format("woff2"),
         url("../../fonts/nexonLv1-Light.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "nexonLv1";
    font-weight: 400;
    font-style: normal;
    src: url("../../fonts/nexonLv1-Regular.woff2") format("woff2"),
         url("../../fonts/nexonLv1-Regular.woff") format("woff");
    font-display: swap;
} 
@font-face {
    font-family: "nexonLv1";
    font-weight: 700;
    font-style: normal;
    src: url("../../fonts/nexonLv1-Bold.woff2") format("woff2"),
         url("../../fonts/nexonLv1-Bold.woff") format("woff");
    font-display: swap;
} 
@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 300;
    font-style: normal;
    src: url("../../fonts/NanumSquareNeo-Variable.woff2") format("woff2"),
         url("../../fonts/NanumSquareNeo-Variable.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 400;
    font-style: normal;
    src: url("../../fonts/NanumSquareNeoTTF-aLt.woff2") format("woff2"),
         url("../../fonts/NanumSquareNeoTTF-aLt.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 700;
    font-style: normal;
    src: url("../../fonts/NanumSquareNeoTTF-bRg.woff2") format("woff2"),
         url("../../fonts/NanumSquareNeoTTF-bRg.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 800;
    font-style: normal;
    src: url("../../fonts/NanumSquareNeoTTF-cBd.woff2") format("woff2"),
         url("../../fonts/NanumSquareNeoTTF-cBd.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 900;
    font-style: normal;
    src: url("../../fonts/NanumSquareNeoTTF-dEb.woff2") format("woff2"),
         url("../../fonts/NanumSquareNeoTTF-dEb.woff") format("woff");
    font-display: swap;
}